.input_search {
  margin-right: 10px;
  width: 40%;
  padding: 10px 5px;
  border-radius: 10px;
}

.search_block_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.form_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_search {
  padding: 10px 20px;
  border-radius: 10px;
}
